body {
    background-color: #ffd54f;
    background-image: linear-gradient(#ffecb3 , #ffd54f);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.lessonTitle {
    margin-top: 20px;
}

.timer {
    font-size: 80px;
    font-family: Menlo;
}

.steps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.step, .lesson {
    margin: 10px;
    padding: 10px;
    flex-basis: 80px;
    text-align: center;

    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 1px 5px #888888;

    font-size: 24px;
}

.step.done {
    background-color: #c8FFc8;
}

.step.busy {
    background-color: #FFc800;
}
