body, html {
    height: 100%;
    margin: 0;
}

main {
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.top-banner {
    background: url("/sluytertijd/images/sluytertijd-banner.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;

    width: 60%;
    max-width: 1200px;
    height: 200px;
}

.navigation {
    width: 800px;
    max-width: 800px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0;
    justify-items: center;
    align-items: center;
    margin: 20px 0;
}

.navigation .item {
    font-weight: 300;
    font-size: 24px;
}

.image-gallery {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0;
    justify-items: center;
    align-items: center;
}

.image-gallery .image {
    position: relative;
    overflow: hidden;

    width: 100%;
    max-width: 100%;
    height: 30vw;
    max-height: 300px;

    border: solid 0.1rem black;
    cursor: pointer;
}

.image-gallery .image img {
    position: absolute;
    left: 50%;
    top: 50%;

    width: 100%;
    max-width: 100%;

    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.image-gallery .image.portrait img {

}

.image-gallery .image.landscape img {
    width: 150%;
    max-width: 150%;
}

.image-gallery .image.square img {
    width: 130%;
    max-width: 130%;
}

.image-gallery .image.focus-up img {
    top: 80%;
}

.image-gallery .image img:hover {
    width: 110%;
    max-width: 110%;
    transition: all .3s ease;
}

.image-gallery .image.landscape img:hover {
    width: 140%;
    max-width: 140%;
}

.image-detail {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,1);
    z-index: 2;
    display: none;
}
.image-detail .previous, .image-detail .next {
    position: absolute;
    top: 50%;
    z-index: 3;
    cursor: pointer;

    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.image-detail .next {
    right: 10%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.image-detail .previous {
    left: 10%;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.bla {
    background-image: url(/sluytertijd/images/buiten/large/DSC_0378-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%;
}
.image-detail .image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 100%;
    border: solid 2px black;
}

.image-detail .image img {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 100%;
    max-height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    transition: all .3s ease;
}
