@font-face {
  font-family: 'Montserrat';
  src: url('montserrat-regulat.ttf');
}

@font-face {
    font-family: 'Bangers';
    src: url('Bangers-Regular.ttf');
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    position: relative;
    font-size: 10px;
}


h2, .tagline {
    font-family: "Bangers";
    font-size: 3rem;
    color: black;
    margin-bottom: 1rem;
}

p, a, span {
    font-family: "Montserrat";
    font-size: 1.6rem;
    color: black;
}

main {
    margin: auto;
    max-width: 1200px;
}

header {
    max-width: 1200px;
    position: relative;
    background-image: url('../images/box/superheld-03.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: auto;
}

header:before {
    content: '';
    position: absolute;

    height: 6.5vw;
    width: 33vw;
    left: 50%;
    margin-left: calc(-33vw / 2);
    top: 8vh;
    background-image: url('../style-images/logo-geel.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

nav {
    margin-top: 2rem;
    position: absolute;
    width: 100%;
    max-width: 1200px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    background-color: white;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem
}

nav ul li {
    list-style: none;
}

nav a {
    font-family: "Bangers";
    color: black;
}

nav ul a {
    margin: 0 20px;
}

nav a:hover {
    color: black;
    text-decoration: none;
}

.tagline {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    padding: 1rem 3rem;
    background-color: rgba(0, 0, 0, .5);
    color: white;
}

/* sections */

section {
    display: flex;
    max-width: 1200px;
    margin: 8rem auto;
    background-color: white;
    position: relative;
    border: 1rem solid white;
}

section.image-strip {
    flex-direction: column;
}

section.image-strip h2 {
    position: absolute;
    top: 0;
    margin-top: 2rem;
    margin-left: 2rem;
    padding: 1rem 3rem;
    background-color: white;
}

section.rows {
    flex-direction: row;
}

section.rows {
    flex-direction: row;
}

section.image-strip .column {
    display: flex;
    flex-direction: column;
}

section.image-strip .column.large {
    flex: 2 0 60%;
}

section.image-strip .column.small {
    flex: 0 1 40%;
}

section.image-strip img {
    align-self: center;
    max-width: 100%;
    max-height: 100%;
}

.text {
    padding: 3rem 4rem;
    flex-direction: column;
}

.centered {
    justify-content: center;
}

.centered h2, .centered p {
    text-align: center;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
