body, html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

main {
    display: grid;
    justify-items: center;
    align-items: center;
}

h1 {
	font-family: 'Gloria Hallelujah', cursive;
}

a {
	font-family: 'Gloria Hallelujah', cursive;
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #000000;
	text-decoration: underline;
}

.top {
    width: 100%;
    margin-top: 10px;
}

.top .banner {
    background: url("../icons/logo.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    cursor: pointer;

    width: 60%;
    max-width: 800px;
    height: 80px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
	.top .banner {
		height: 40px;
	}
}

.top .banner img {
    width: 60%;
    max-width: 800px;
}

.top .navigation {
    max-width: 800px;

    margin: 0 auto 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	
	font-family: 'Gloria Hallelujah', cursive;
}

.top .navigation .item {
    font-weight: 300;
    font-size: 1.5rem;
    margin: 10px;
    color: #000000;
    padding: 0.5rem;
    cursor: pointer;
}

.top .navigation a {
    color: #000000;
    text-decoration: none;
}

.top .navigation a:visited {
    color: #000000;
    text-decoration: none;
}

.top .navigation .item.selected,
.top .navigation .item:hover {
    background: url("../icons/underline.svg") no-repeat center top;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    .top .navigation .item {
        font-size: 1rem;
        padding: 0;
    }
}

.section {
    margin-bottom: 20px;
}

.aanbod {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    padding: 0;
    margin-bottom: 30px;
}

.aanbod.flipped {
    flex-flow: row-reverse;
}

@media screen and (max-width: 768px) {
    .aanbod {
        flex-direction: column;
        flex-flow: column;
        align-items: center;
    }

    .aanbod.flipped {
        flex-flow: column;
    }
}

.image-gallery {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0;
    justify-items: center;
    align-items: center;

    border: 1px solid black;
    padding: 0;
    margin-bottom: 30px;
    background-color: black;
}

.aanbod .uitleg {
    padding: 0 20px;
}

.aanbod .image,
.image-gallery .image {
    position: relative;
    overflow: hidden;

    width: 100%;
    max-width: 100%;
    height: 30vw;
    max-height: 300px;

    border: solid 0.1rem black;
    cursor: pointer;
}

.aanbod .image img,
.image-gallery .image img {
    position: absolute;
    left: 50%;
    top: 50%;

    width: 100%;
    max-width: 100%;

    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.aanbod .image {
    cursor: auto;
    width: calc(50% - 20px);
	height: 50vw;
	background-color: #000000;
}
.aanbod .uitleg {
    width: calc(50% + 20px);
}

@media screen and (max-width: 768px) {
    .aanbod .image,
    .aanbod .uitleg {
        width: 80%;
		padding: 5px 0;
    }
}

.image-gallery .image.portrait img {

}

.aanbod .image.landscape img,
.image-gallery .image.landscape img {
    width: 150%;
    max-width: 150%;
}

.aanbod .image.square img,
.image-gallery .image.square img {
    width: 130%;
    max-width: 130%;
}

.aanbod .image.focus-up img,
.image-gallery .image.focus-up img {
    top: 80%;
}

.aanbod .image.focus-down img,
.image-gallery .image.focus-down img {
    top: 20%;
}

.image-gallery .image img:hover {
    width: 110%;
    max-width: 110%;
    transition: all .3s ease;
}

.image-gallery .image.landscape img:hover {
    width: 140%;
    max-width: 140%;
}

.image-detail {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,1);
    z-index: 2;
    display: none;
}
.image-detail .previous, .image-detail .next {
    position: absolute;
    top: 80%;
    z-index: 3;
    cursor: pointer;

    display: inline-block;
    width: 3vw;
    height: 3vw;
	min-width: 50px;
	min-height: 50px;
	
	background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

@media screen and (max-width: 768px) {
	.image-detail .previous, .image-detail .next {
		width: 10vw;
		height: 10vw;
	}
}

.image-detail .next {
    right: 10%;
    background-image: url("../icons/arrow-right.svg");
}

.image-detail .previous {
    left: 10%;
    background-image: url("../icons/arrow-left.svg");
}

.image-detail .image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 100%;
    border: solid 12px black;
}

.image-detail .image img {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 100%;
    max-height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

}

.footer {
    margin: 30px auto;
    max-width: 800px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #EBEBEB;
    padding: 10px;
    color: #c8c8c8;

    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .footer {
        flex-wrap: wrap;
        margin: 30px 20px;
    }
}

.footer > div {
    margin-bottom: 5px;
}

.footer a {
    color: #000000;
}
