@font-face {
  font-family: 'Montserrat';
  src: url('montserrat-regulat.ttf');
}

@font-face {
    font-family: 'Montserrat-bold';
    src: url('Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Bangers';
    src: url('Bangers-Regular.ttf');
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    position: relative;
    font-size: 10px;
}


h2 {
    padding: 4rem 4rem 0 4rem;
    font-family: "Bangers";
    color: white;
    text-decoration: none;
    font-size: 5rem;
}

h2.center {
    text-align: center;
}

.bang {
    font-family: "Bangers";
    color: black;
    background-color: #EFDD3E;
    font-size: 2.5rem;
    text-decoration: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

a.cta {
    font-family: "Bangers";
    color: black;
    font-size: 2.5rem;
    line-height: 1.5rem;
    text-decoration: none;

    border: 2.4rem solid white;

    border-image-source: url('../style-images/cta-arrow-right-white.svg');
    border-image-width: 20;
    border-image-slice: 30% 30% 30% 20%;
    border-image-outset: 1;
    border-image-repeat: stretch;

    padding: 2rem 6rem 2rem 1rem;
}

a.cta:hover, a.cta:active {
    text-decoration: none;
    color: #3e4fef;
}

p, a, span {
    font-family: "Montserrat";
    font-size: 1.6rem;
    color: black;
}

a {
    font-family: "Montserrat-bold";
}
a:hover {
    color: #3e4fef;
}

main, header, section, nav {
    max-width: 1200px;
}
main {
    margin: auto;
}

header.home {
    position: relative;
    background-image: url('../images/fantasy/thor-02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    max-height: 800px;
    margin: auto;
}

header {
    position: relative;
    background-image: url('../images/banners/header-01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 80%;
    height: 200px;
    margin: 0 auto 8rem auto;
}

header h1 {
    position: absolute;
    color: white;
    font-size: 10rem;
    font-family: 'Bangers';
    height: 10rem;
    width: 100%;
    text-align: center;
    top: 60px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

header.home:before {
    content: '';
    position: absolute;

    height: 10rem;
    width: 40rem;
    max-width: 80vw;
    left: 50%;
    margin-left: calc(-40rem / 2);
    top: 6rem;
    background-image: url('../style-images/logo-geel.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

nav {
    margin-top: 2rem;
    position: absolute;
    width: 100%;
    line-height: 22px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    background-color: white;
}

nav ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem
}

nav ul li {
    list-style: none;
}

nav a {
    font-family: "Bangers";
    color: black;
}

nav ul a {
    margin: 0 20px;
}

nav a:hover {
    color: #e79d28;
    text-decoration: none;
}

.tagline {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 16rem;
    width: 100%;
}
.tagline span {
    display: block;
    font-family: "Bangers";
    color: black;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    text-decoration: none;
    padding: 1rem 3rem;
    background-color: rgba(0, 0, 0, .5);
    color: white;
}

@keyframes ontdek-animatie {
    0%   {bottom: 6rem;}
    50%  {bottom: 4rem;}
    100% {bottom: 6rem;}
}

.ontdek {
    position: absolute;
    bottom: 6rem;
    right: 5rem;
    width: 20rem;
    height: 20rem;
    padding-top: 3rem;

    font-family: Bangers;
    font-size: 2.5rem;
    background-image: url('../style-images/cta-arrow-down-white.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: black;
    text-align: center;

    /* animation: 3s linear 1s infinite running slidein; */
    animation: 3s ease-in-out 1s infinite ontdek-animatie;
    transition: all 300ms ease-in-out;
}

.ontdek:hover {
    animation: none;
    text-decoration: none;
    /*color: #e79d28;*/
    color: #3e4fef;
}

/* replace #eec33b with #e79d28; or #EFDD3E */

/* sections */

section {
    display: flex;
    margin: 0rem auto 8rem auto;
    background-color: white;
    position: relative;
    border: 0.5rem solid white;
}

section.image-strip, section.single-image {
    flex-direction: column;
}

section.single-image img {
    max-width: 100%;
    padding: 1rem;
}

section.rows {
    flex-direction: row;
    flex-wrap: wrap;
}

section.columns {
    flex-direction: column;
}

section.narrow {
    max-width: fit-content;
    width: fit-content;
}

section.image-strip .columns {
    display: flex;
    flex-direction: column;
}

section.image-strip img {
    align-self: center;
    max-width: 100%;
    max-height: 100%;
    padding: 1rem;
}

section.image-strip p {
    padding: 3rem;
}

section.max-800 {
    max-width: 800px;
}

section.max-500 {
    max-width: 500px;
}

section.max-600 {
    max-width: 600px;
}

section.single-image.landscape {
    max-width: 80%;
}

section.image-strip img.percent-33 {
    max-width: 33.3%;
}

section.image-strip img.percent-40 {
    max-width: 40%;
}

section.image-strip img.percent-50 {
    max-width: 50%;
}

section.image-strip img.percent-60 {
    max-width: 60%;
}

section.image-strip img.percent-100 {
    max-width: 100%;
}

section.cta-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    border: none;
}

.text-block {
    padding: 1rem 3rem;
    background-color: white;
}

.border {
    border: solid 1px #707070;
}

.over {
    position: absolute;
    margin: 2rem;

}

.over.left {
    left: 0;
}

.over.right {
    right: 0;
}

.over.bottom {
    bottom: 0;
}

.text {
    padding: 3rem 4rem;
    flex-direction: column;
}

.text.aanbod p:first-of-type {
    font-family: 'Montserrat-bold';
}

.centered {
    justify-content: center;
}

.centered .bang, .centered p, .centered h2 {
    text-align: center;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Aanbod */

.overzicht {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    background-color: black;
    border: none;
}

.overzicht .aanbod {
    position: relative;
    text-decoration: none;
    margin: 0 4rem;
    padding: 2rem 0 3rem;
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: center;
    background-color: white;
}

.overzicht .aanbod:hover {
    text-decoration: none;
    color: rgba(0,0,0,.5);
}

.overzicht .aanbod .naam {
    font-size: 5rem;
    font-family: 'Montserrat';
}

.overzicht .aanbod:hover .naam,
.overzicht .aanbod:hover .prijs {
    color: #e79d28;
}

.overzicht .aanbod .prijs {
    font-size: 5rem;
    font-family: 'Bangers';
    margin-bottom: 2rem;
}

.overzicht .aanbod ul {
    padding: 0;
}

.overzicht .aanbod ul:after {
    content: '';
    background-image: url('../style-images/arrow-down.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    right: calc(50% - 40%);
    width: 80%;
    height: 10rem;

    transition: all 300ms ease-in-out;
    margin-top: -1rem;
}

.overzicht .aanbod:hover ul:after {
    margin-top: 0rem;
}

.overzicht .aanbod ul li {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Montserrat';
    list-style: none;
    color: rgba(0,0,0,.5);
}

.overzicht .aanbod a {
    position: relative;
    font-family: 'Bangers';
    font-size: 5rem;
}

/* image gallery / portfolio */
.image-detail {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,1);
    z-index: 2;
    display: none;
}
.image-detail .previous, .image-detail .next {
    position: absolute;
    top: 80%;
    z-index: 3;
    cursor: pointer;

    display: inline-block;
    width: 3vw;
    height: 3vw;
    min-width: 50px;
    min-height: 50px;

    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
@media screen and (max-width: 768px) {
    .image-detail .previous, .image-detail .next {
        width: 10vw;
        height: 10vw;
    }
}
.image-detail .next {
    right: 10%;
    background-image: url("../style-images/arrow-right.svg");
}

.image-detail .previous {
    left: 10%;
    background-image: url("../style-images/arrow-left.svg");
}

.image-detail .image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 100%;
    border: solid 12px black;
}

.image-detail .image img {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 100%;
    max-height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

}

.image-gallery {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;

    border: 1px solid black;
    padding: 0;
    margin-bottom: 30px;
    background-color: black;
}

.image-gallery .image {
    position: relative;
    overflow: hidden;

    width: 100%;
    max-width: 100%;
    height: 30vw;
    max-height: 300px;

    border: solid 0.1rem black;
    cursor: pointer;
}

.image-gallery .image img {
    position: absolute;
    left: 50%;
    top: 50%;

    width: 100%;
    max-width: 100%;

    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.image-gallery .image.focus-left img {
    left: 60%;
}

.image-gallery .image.landscape img {
    width: 150%;
    max-width: 150%;
}

.image-gallery .image.panorama img {
    width: 200%;
    max-width: 200%;
}

.image-gallery .image.square img {
    width: 130%;
    max-width: 130%;
}

.image-gallery .image.focus-up img {
    top: 80%;
}

.image-gallery .image.focus-down img {
    top: 20%;
}

.image-gallery .image img:hover {
    width: 110%;
    max-width: 110%;
    transition: all .3s ease;
}

.image-gallery .image.landscape img:hover {
    width: 140%;
    max-width: 140%;
}

.image-gallery .image.panorama img:hover {
    width: 160%;
    max-width: 160%;
}

/* footer */

footer {
    margin: 30px auto 0;
    max-width: 800px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
    color: gray;
    background-color: white;

    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .footer {
        flex-wrap: wrap;
        margin: 30px 20px;
    }
}

footer .company {
    font-family: 'Bangers';
    font-size: 1.2rem;
}

footer .vat {
    padding-left: 1rem;
    font-family: 'Montserrat';
    font-size: 1rem;
    color: gray;
}



/* Tablet version */
@media screen and (max-width: 768px) {
    header {
        height: 150px;
    }
    body, html {
        font-size: 6px;
    }
    main {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
/* mobile version */
@media screen and (max-width: 425px) {
    section.rows {
        flex-direction: column;
    }

    section.single-image.landscape,
    section.image-strip img.percent-33,
    section.image-strip img.percent-50 {
        max-width: 100%;
    }

    .over {
        /* position: relative; */
        flex: 0 0 100%;
        margin: 0;
    }

    .bang {
        box-shadow: none;
    }

    .overzicht {
        flex-direction: column;
    }

    .overzicht .aanbod {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 0 6rem 0;
    }

    .overzicht .aanbod ul:after {
        margin-top: 0;
    }

    .overzicht .aanbod .prijs {
        margin-bottom: 0;
    }
}
