@font-face {
  font-family: 'Montserrat';
  src: url('montserrat-regulat.ttf');
}

@font-face {
  font-family: 'Abel';
  src: url('Abel-Regular.ttf');
}

@font-face {
    font-family: 'Anton';
    src: url('Anton-Regular.ttf');
}

@font-face {
    font-family: 'Bangers';
    src: url('Bangers-Regular.ttf');
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}


h2 {
    font-family: "Anton";
}

p, a, span {
    font-family: "Abel";
}

main {
    margin: auto;
    max-width: 1200px;
}

header {
    max-width: 800px;
    position: relative;
    background-image: url('../images/box/box_2018-06-10_11-00-12.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: auto;
}

header:before {
    content: '';
    position: absolute;

    height: 6.5vw;
    width: 33vw;
    left: 50%;
    margin-left: calc(-33vw / 2);
    top: 8vh;
    background-image: url('../style-images/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

nav {
    width: 100%;
    position: absolute;
    top: 15px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    line-height: 22px;
}

nav .home {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: -15px;
    left: 15px;
    width: 8vw;
    height: 11vw;
    padding: 15px 20px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

nav .home:before {
    content: '';
    position: absolute;

    height: 6.5vw;
    width: 6.5vw;
    left: 50%;
    margin-left: calc(-6.5vw / 2);
    top: 7vh;
    background-image: url('../images/box/box_2018-02-11_16-22-01.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 400px;
    margin: auto;
}

nav ul li {
    list-style: none;
}

nav a {
    font-family: "Bangers";
    color: black;
}

nav ul a {
    margin: 0 20px;
}

nav a:hover {
    color: black;
    text-decoration: none;
}


.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
