<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="collapse navbar-collapse navbar-nav" id="navbarsExample02">
        <a class="nav-link nav-item" data-ng-class="{active: pageName === 'index'}" href="index.html">SLuytertijd</span></a>
        <a class="nav-link nav-item" data-ng-class="{active: pageName === 'aanbod'}" href="aanbod.html">Aanbod</a>
        <a class="nav-link nav-item" data-ng-class="{active: pageName === 'over'}" href="over.html">Over</a>
        <a class="nav-link nav-item" data-ng-class="{active: pageName === 'contact'}" href="contact.html">Contact</a>
    </div>
</nav>