<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">{{ctrl.getAlbum().title}}</h1>
        <p class="lead text-muted">{{ctrl.getAlbum().caption}}</p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4" data-ng-repeat="picture in ctrl.getAlbum().pictures">
                <div class="card mb-4 box-shadow">
                    <a data-ng-click="ctrl.selectPicture(picture)">
                        <img class="card-img-top img-fluid" data-ng-src="{{ctrl.getPathToSmallPicture(picture)}}"
                             alt="{{picture.caption}}">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal for images -->
<div id="portfolioLightbox" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <div id="lightboxCarousel" class="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item" data-ng-class="{active: ctrl.isSelected(picture)}" data-ng-repeat="picture in ctrl.getAlbum().pictures">
                            <img class="card-img-top img-fluid w-auto"
                                 data-ng-src="{{ctrl.getPathToLargePicture(picture)}}">
                        </div>
                    </div>

                    <a class="carousel-control-prev" href="#lightboxCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Vorige</span>
                    </a>
                    <a class="carousel-control-next" href="#lightboxCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Volgende</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
