<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">{{ctrl.getAlbum().title}}</h1>
        <p class="lead text-muted">{{ctrl.getAlbum().caption}}</p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            <div class="col-md-4" data-ng-repeat="picture in ctrl.getAlbum().pictures">
                <div class="card mb-4 box-shadow">
                    <a data-target=".bd-example-modal-lg" data-ng-click="ctrl.selectedPicture = picture">
                        <img class="card-img-top img-fluid" data-ng-src="{{ctrl.getPathToSmallPicture(picture)}}" alt="{{picture.caption}}">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
