body {
    background-color: #CCCCCC;
    font-family: 'Arimo', sans-serif;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .menu .menu-item {
        margin: 10px;
        width: 100px;
    }

    .menu {
        margin: auto;
        width: 600px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .menu .menu-item {
        margin: 10px;
        width: 100px;
        font-size: 80px;
    }

    .menu {
        margin: auto;
        width: 600px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .menu .menu-item {
        margin: 10px;
        width: 100px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .menu .menu-item {
        margin: 10px;
        float: left;
        width: 100px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .menu .menu-item {
        margin: 10px;
        float: left;
        width: 100px;
        font-size: 16px;
    }
}



.page-content {

}
